<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
</head>
<body>
<div id="app">
    <input type="text" placeholder="姓名" v-model="emp.name">
    <input type="text" placeholder="工资" v-model="emp.salary">
    <input type="text" placeholder="工作" v-model="emp.job">
    <input type="button" value="添加" @click="add()">
    <h3>员工列表</h3>
    <el-table :data="arr">
        <!--添加编号列-->
        <el-table-column type="index" label="编号"></el-table-column>
        <!--prop=properties 设置这一列显示的数据来自于数组中对象的哪个属性-->
        <el-table-column prop="name" label="姓名">
        </el-table-column>
        <el-table-column prop="salary" label="工资">
        </el-table-column>
        <el-table-column prop="job" label="工作">
        </el-table-column>
        <!--添加自定义列开始-->
        <el-table-column label="操作">
            <!--scope对象里面装的是当前行所对应的一些信息
                scope.$index得到当前行的下标
                scope.row得到的是当前行对应的数组里面的对象-->
            <template slot-scope="scope">
                <el-button size="mini" type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除</el-button>
            </template>
        </el-table-column>
        <!--添加自定义列结束-->

    </el-table>

</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                emp:{name:"",salary:"",job:""},
                arr:[{name:"张三",salary:3000,job:"人事"},
                    {name:"李四",salary:4000,job:"销售"},
                    {name:"王五",salary:5000,job:"程序员"}],
            }
        },
        methods: {
            add(){
                v.arr.push({name:v.emp.name,salary:v.emp.salary,job:v.emp.job});
            },
            handleDelete(i,emp){
                v.arr.splice(i,1);
                v.$message.success("成功删除了"+emp.name);
            }
        }
    })

</script>
</html>