<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.tedu.baking.mapper.ContentMapper">
    <insert id="insert">
        INSERT INTO t_content
        VALUES (NULL, #{title}, #{imgUrl}, #{videoUrl},
                #{content}, #{type}, 0, 0, #{createBy},
                #{createTime}, null, null,
                #{brief}, #{categoryId})
    </insert>
    <select id="selectByType"
            resultType="cn.tedu.baking.pojo.vo.ContentManagementVO">
        SELECT  c.id,c.title,c.img_url,c.brief,c.type,
                cat.name categoryName,c.view_count,c.comment_count,c.create_time
        FROM t_content c JOIN t_category cat ON c.category_id=cat.id
        WHERE c.type=#{type} AND c.create_by=#{id}
    </select>
    <select id="selectByIdForEdit" resultType="cn.tedu.baking.pojo.vo.ContentEditVO">
        SELECT id,title,img_url,video_url,type,category_id,content
        FROM t_content
        WHERE id=#{id}
    </select>
    <update id="update">
        UPDATE t_content
        <set>
            <if test="title!=null">title=#{title},</if>
            <if test="imgUrl!=null">img_url=#{imgUrl},</if>
            <if test="brief!=null">brief=#{brief},</if>
            <if test="videoUrl!=null">video_url=#{videoUrl},</if>
            <if test="type!=null">type=#{type},</if>
            <if test="categoryId!=null">category_id=#{categoryId},</if>
            <if test="viewCount!=null">view_count=#{viewCount},</if>
            <if test="commentCount!=null">comment_count=#{commentCount},</if>
            <if test="updateBy!=null">update_by=#{updateBy},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="content!=null">content=#{content}</if>
        </set>
        WHERE id=#{id}
    </update>
    <delete id="deleteById">
        DELETE FROM t_content WHERE id=#{id}
    </delete>
</mapper>










