<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>创造与魔法-一起做喜欢的事</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <style>
        *{
            margin: 0 auto;
        }
        .center{
            width: 1200px;
            margin: 0 auto;
        }
        #footer_center p{
            margin: 0;
        }
        #footer_center h3{
            color: white;
        }
        body{
            background-color: rgb(241,242,243);
        }
        .el-header{
            background-color: white;
        }
        #main_face_top{
            width: 1920px;
            height: 980px;
            z-index: 1;
        }
        #main_hua{
            width: 1920px;
            height: 702px;
            position: relative;z-index: 1;
        }
    </style>
</head>
<body>
<div id="app">

    <el-container >
        <div id="main_face_top">
        <el-header height="80px" style="background-color: #f0f1f2">
            <div class="center" >
                <el-row gutter="20">
                    <el-col span="6">
                        <img src="imgs/logo.png" width="196" height="65">
                    </el-col>
                    <el-col span="11">
                        <el-menu mode="horizontal" active-text-color="orange" style="background-color: #f0f1f2">
                            <el-menu-item index="0">官方首页</el-menu-item>
                            <el-menu-item index="1">新闻资讯</el-menu-item>
                            <el-menu-item index="2">游戏攻略</el-menu-item>
                            <el-menu-item index="3">油菜花社区</el-menu-item>
                            <el-menu-item index="3">官方店铺</el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col span="5">
                        <el-input style="margin-top: 15px" placeholder="请输入搜索的关键字">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-col>
                    <el-col span="2">
                        <el-popover
                                placement="top-start"
                                title="欢迎来到创造与魔法!"
                                width="200"
                                trigger="hover">
                            <div slot="reference">
                                <i class="el-icon-user"
                                   style="font-size: 30px;position: relative;top: 20px"></i>
                            </div>
                            <el-button type="info">注册</el-button>
                            <el-button style="background-color: orange">登录</el-button>
                        </el-popover>
                    </el-col>
                </el-row>
            </div>
            <img src="imgs/777.jpg" alt="">
            <img src="imgs/7778.jpg" alt="" style="position: relative;top: -4px;z-index: 1;">
        </el-header>
        </div>
        <div id="main_hua" style="position: relative;top: -850px;" >
        <el-main class ="center " style="position: relative;z-index: 1;">
            <el-carousel height="375px">
                <el-carousel-item>
                    <img src="imgs/banner1.jpg" width="100%">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="imgs/banner2.jpg" width="100%">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="imgs/banner3.jpg" width="100%">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="imgs/banner4.jpg" width="100%">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="imgs/banner5.jpg" width="100%">
                </el-carousel-item>
            </el-carousel>
            <!--油菜花开始-->
            <el-row style="background-color: white">
                <el-col span="3">
                    <p style="font-size: 28px;line-height: 65px;margin: 0 ;margin-top: 10px">
                        <img src="imgs/fl_title.png" width="100%" >
                    </p>
                </el-col>
                <el-col span="21">
                    <el-menu mode="horizontal" active-text-color="orange">
                        <el-menu-item index="0">视频</el-menu-item>
                        <el-menu-item index="1">同人绘</el-menu-item>
                        <el-menu-item index="2">建筑图</el-menu-item>
                        <el-menu-item index="3">相聚贝雅</el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
            <!--油菜花列表开始-->
            <el-row gutter="20">
                <el-col  v-for="r in recipeArr" span="6">
                    <el-card style="margin: 10px 0">
                        <img :src="r.imgUrl" width="100%" height="140">
                        <p style="height: 10px">{{r.title}}</p>
                        <el-row gutter="20">
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>
            <div style="text-align: center;margin-bottom: 20px">
                <el-button>点击进入油菜花田</el-button>
            </div>
            <!--油菜花列表结束-->
            <!--油菜花结束-->

            <!--游戏图鉴开始-->
            <el-row style="background-color: white">
                <el-col span="3">
                    <p style="font-size: 28px;line-height: 65px;margin: 0">
                        <img src="imgs/game_tit.png" width="100%" >
                    </p>
                </el-col>
                <el-col span="21">
                    <el-menu mode="horizontal" active-text-color="orange">
                        <el-menu-item index="0">武器</el-menu-item>
                        <el-menu-item index="1">防具</el-menu-item>
                        <el-menu-item index="2">服饰</el-menu-item>
                        <el-menu-item index="3">设施</el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
            <!--游戏图鉴列表开始-->
            <el-row gutter="20">
                <el-col  v-for="r in recipeArr1" span="6">
                    <el-card style="margin: 10px 0">
                        <img :src="r.imgUrl" width="100%" height="144">
                        <p style="height: 10px">{{r.title}}</p>

                    </el-card>
                </el-col>
            </el-row>
            <div style="text-align: center;margin-bottom: 20px">
                <el-button>点击查看更多图鉴</el-button>
            </div>
            <!--游戏图鉴列表结束-->
            <!--游戏图鉴结束-->

            <!--游戏攻略开始-->
            <el-row style="background-color: white">
                <el-col span="3">
                    <p style="font-size: 28px;line-height: 65px;margin: 0">
                        <img src="imgs/game_tit6.png" width="100%" >
                    </p>
                </el-col>
                <el-col span="21">
                    <el-menu mode="horizontal" active-text-color="orange">
                        <el-menu-item index="0">秘境攻略</el-menu-item>
                        <el-menu-item index="1">坐骑宠物</el-menu-item>
                        <el-menu-item index="2">避难所</el-menu-item>
                        <el-menu-item index="3">食谱汇总</el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
            <!--游戏攻略开始-->
            <el-row gutter="20">
                <el-col  v-for="r in recipeArr2" span="6">
                    <el-card style="margin: 10px 0">
                        <img :src="r.imgUrl" width="100%" height="144">
                        <p style="height: 10px">{{r.title}}</p>

                    </el-card>
                </el-col>
            </el-row>
            <div style="text-align: center;margin-bottom: 20px">
                <el-button>点击查看更多攻略</el-button>
            </div>
            <!--游戏攻略列表结束-->
            <!--游戏攻略结束-->
        </el-main>
        </div>
        <el-footer style="width: 100%;height: 280px;background-color: #2f3234;padding:25px 0;position: relative;z-index: 2">
            <div class="center" style="text-align: center;color: #666;" >
                <el-row>
                    <el-col span="8">
                        <img src="imgs/cm.png">
                        <p>高开放游戏沙盒</p>
                        <p>创造与魔法网络社区平台</p>
                        <p>各种坐骑世界BOOS等你来抓</p>
                    </el-col>
                    <el-col span="8">
                        <el-row id="footer_center">
                            <el-col span="8">
                                <h3>关于我们</h3>
                                <p>关于我们</p><p>一键咨询</p>
                                <p>食物食谱</p><p>分类信息</p>
                                <p>各类攻略</p><p>社区交流</p>
                            </el-col>
                            <el-col span="8">
                                <h3>支持与服务</h3>
                                <p>联系我们</p><p>广告投放</p>
                                <p>用户协议</p><p>友情链接</p>
                                <p>在线反馈</p><p>我要投稿</p>
                            </el-col>
                            <el-col span="8">
                                <h3>底部导航</h3>
                                <p>Archiver</p><p>手机版</p>
                                <p>小黑屋</p>
                            </el-col>
                        </el-row>

                    </el-col>
                    <el-col span="8">
                        <div style="font-size: 58px;margin-top: 30px">
                            <span style="color: aliceblue">
                                <img src="imgs/i-fot-logo.png">
                            </span>
                        </div>
                        <p>创造与魔法官方社区平台</p>
                        <p>达内太原中心-张景轩-李颖-王健</p>
                    </el-col>
                </el-row>
            </div>

        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function () {
            return {
                /*油菜花*/
                recipeArr:[
                    {
                        "title": "玩家视频",
                        "imgUrl": "imgs/sp.jpg",
                    },
                    {
                        "title": "大神手绘",
                        "imgUrl": "imgs/trh.jpg",
                    },
                    {
                        "title": "各类建筑,等你鉴赏",
                        "imgUrl": "imgs/jzt.jpg",
                    },
                    {
                        "title": "快来和我一起玩吧",
                        "imgUrl": "imgs/xjby.jpg",
                    },
                ],
                /*武器图鉴*/
                recipeArr1:[
                    {
                        "title": "精美武器",
                        "imgUrl": "imgs/639.gif",
                    },
                    {
                        "title": "高能防具",
                        "imgUrl": "imgs/641.jpg",
                    },
                    {
                        "title": "精美服饰",
                        "imgUrl": "imgs/640.gif",
                    },
                    {
                        "title": "生存必备",
                        "imgUrl": "imgs/shbb.png",
                    },
                ],
                recipeArr2:[
                    {
                        "title": "秘境探险",
                        "imgUrl": "imgs/4444.jpg",
                    },
                    {
                        "title": "坐骑抓捕大全",
                        "imgUrl": "imgs/667.gif",
                    },
                    {
                        "title": "机甲废土风",
                        "imgUrl": "imgs/644.gif",
                    },
                    {
                        "title": "食谱大全",
                        "imgUrl": "imgs/443.jpg",
                    },
                ],
            }
        },
        methods: {

        }
    })
</script>
</html>
